*#
.#*
*-stamp
/*.yaml
/*.yml
/*.rules
*.exe

# Editor files #
################
*~
.*.swp
.*.swo
*.iml
.idea

/graphite_storage_adapter
benchmark.txt
/.build
/.release
/.tarballs

!/.travis.yml

# JS stuff
node_modules/

# Binaries
graphite-remote-adapter
ratool
